@*  @model IEnumerable<MyBlogWebSite.Models.Post>
*@

@model MyBlogWebSite.ViewModels.PostsViewModel

@addTagHelper *,MyBlog

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Створити нову публікацію</a>
</p>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Категорія:</label>
        &nbsp;&nbsp;
        <select name = "categoryId" asp-items="Model.Categories" class="form-control"></select>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Обрати" class="btn btn-success" />
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>Зображення</th>
            <th>Категорія</th>
            <th>Заголовок</th>
            <th>Опис</th>
            <th>Дата публікації</th>
            <th>Управління</th>


        </tr>

        @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>*@
    </thead>
    <tbody>
@foreach (var item in Model.Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br />
<!-- Pagination controls -->

<page-link page-model="Model.Paginator" page-action ="Index"></page-link>

<!-- /Pagination controls -->
